<div class="container d-flex justify-content-center" style="margin-top: 50px;">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card d-flex justify-content-center" style="width: 18rem; margin-bottom:20px">
                <div class="card-header">
                    Documentation System (MD Files)
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a routerLink="/documentations/ProjectSetup" style="margin-bottom:24px">Project Setup & Installation >></a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/documentations/TechnologyAndArchitecture" style="margin-bottom:24px">Technology & Architecture >></a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/documentations/DesignDecisions" style="margin-bottom:24px">Design Decision >></a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <div class="card-header">
                    Cheese Cake Recipe (MD Files)
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a routerLink="/recipes/ChocolateCheesecakeRecipe" style="margin-bottom:24px">Chocolate Cheesecake Recipe >></a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/recipes/StrawberryCheesecakeRecipe" style="margin-bottom:24px">Strawberry Cheesecake Recipe >></a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/recipes/CaramelCheesecakeRecipe" style="margin-bottom:24px">Caramel Cheesecake Recipe >></a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>

 

